body {
    background-color: rgb(252, 248, 245);
}

#editor {
    width: 680px;
    margin: auto;
}

h1 {
    font-size: 3rem;
    letter-spacing: -0.01em;
    font-family: 'IM Fell Great Primer', serif;
    color: rgb(33, 33, 33);
}

p {
    font-size: 1.25rem;
    font-family: 'Source Serif 4', serif;
    color: rgb(33, 33, 33);
    font-weight: 300;
    line-height: 2rem;
}

[contenteditable] {
    outline: 0px solid transparent;
}

.header {
    background-size: cover;
    height: 200px;
    margin-top: 2em;
}

.content {
    text-align: justify;
    text-justify: inter-word;
}

.meta > p {
    color: rgb(189, 189, 189);
}

[contentEditable=true] h1:empty:not(:focus)::before{
    content:attr(data-ph);
    color: rgb(189, 189, 189);
}
